.trivia-app-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 16px;
}
.trivia-app-score :is(h1, h2) {
  text-align: center;
}
