.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.answer-container__intro {
  font-size: 1.5rem;
}
.answer-container__options {
  display: flex;
}
.answer-container__icon {
  padding: 8px;
  margin: 8px;
  font-size: 2rem;
  cursor: pointer;
}
.answer-container__icon:hover {
  background-color: #e0e0e0;
}
.answer-container__options-true {
  color: green;
}
.answer-container__options-false {
  color: crimson;
}
.responded {
  cursor: unset;
  background-color: #e0e0e0;
}
@media only screen and (max-width: 600px) {
  .answer-container__intro {
    font-size: 1.25rem;
  }
  .answer-container__icon {
    padding: 8px;
    margin: unset;
    font-size: 1.5rem;
  }
}

