.trivia_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin: 16px;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  min-height: 400px;
  box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.5);
}
.trivia_card__section {
  margin-bottom: 60px;
}
.trivia_card__title {
  font-weight: bold;
  min-height: 40px;
  align-items: center;
  text-align: center;
  width: 90%;
  margin-top: 16px;
}
.trivia_card__question {
  padding: 8px;
  border: 2px solid black;
  width: 90%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trivia_card__question p {
  text-align: center;
  font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
  .trivia_card {
    padding: 16px 8px;
    margin: 16px 8px;
    min-height: 350px;
  }
  .trivia_card__title.trivia_card__section h1 {
    font-size: 1.5rem;
  }
  .trivia_card__question p {
    font-size: 1rem;
  }
}
