.trivia-app-intro_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trivia-app-intro_page :is(h1, h2, h3) {
  text-align: center;
  margin: 30px;
}
@media only screen and (max-width: 600px) {
  .trivia-app-intro_page :is(h1, h2, h3) {
    margin: 20px;
  }
}
